html {
    font-family: system-ui, sans-serif;
    font-size: .35rem;
}

body {
    margin: 0;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

.App {
    font-family: sans-serif;
    text-align: center;
}
